table, th, td {
  border-width: 2px;
  border-style: ridge;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(68, 110, 155);
}

td, th {
  padding: 5px;
  text-align: left;
}

.edit-button, .delete-button {
  text-align: center;
  width: 24px;
}
