.eztable {
  border-collapse: collapse;
  width: 100%;
}

.eztable, .eztable th, .eztable td {
  border: 1px solid grey;
}

.eztable th {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(68, 110, 155);
}

.eztable td, .eztable th {
  padding: 5px;
  text-align: left;
}
