<html>
  <head>
    <title>Example Table</title>
    <link rel='stylesheet' type='text/css' href='/css/eztables.css'>
  </head>
  <body>
    <div style='margin: auto; width: 500px;'>
<%-table-%>
    </div>
  </body>
</html>